.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__link {
    display: block;

    @media only screen and (min-width: 650px) {
      margin-right: 30px;
    }
  }

  @media only screen and (min-width: 650px) {
    justify-content: space-around;
  }
}

.pokemon-list__heading {
  margin-bottom: 50px;

  @media only screen and (min-width: 1027px) {
    width: 65%;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination-container .MuiPaginationItem-root {
  margin-bottom: 10px;
}

.pagination-container .MuiPagination-ul {
  justify-content: center;
}

.pagination-container .MuiPaginationItem-sizeLarge {
  font-size: 1.2rem;
}
